/*.checkout_container{*/
    /*width: 60%;*/
    /*height: 80%;*/
/*}*/
/*.checkout_detail{*/
    /*background-color: #B0B0B0;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*border-radius: 2px;*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.15);*/
    /*color: #fff;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*transition: background-color .2s cubic-bezier(0.4, 0, 0.2, 1),box-shadow .3s cubic-bezier(0.4, 0, 0.2, 1),color .2s cubic-bezier(0.4, 0, 0.2, 1),fill .2s cubic-bezier(0.4, 0, 0.2, 1);*/
/*}*/

/*.checkout_detail_size {*/
    /*position: relative;*/
    /*margin-left: 0%;*/
    /*height: 600px;*/
    /*width: 100%;*/
    /*margin-bottom: 50px;*/
/*}*/
/*.checkout_stats {*/
    /*width: 40%;*/
    /*height: 40%;*/
    /*padding-right:20px !important;*/
/*}*/
/*.checkout_stats_size {*/
    /*position: relative;*/
    /*margin-left: 0;*/
    /*height: 300px;*/
    /*width: 100%;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.well {*/
    /*margin-bottom: 10px;*/
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
/*}*/
/*.well, .well-lg, .well-sm {*/
    /*border-radius: 0;*/
/*}*/
/*.well {*/
    /*box-shadow: none;*/
/*}*/
/*.well {*/
    /*min-height: 20px;*/
    /*padding: 19px;*/
    /*margin-bottom: 20px;*/
    /*background-color: #fff;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
/*}*/
/*.form-notifications {*/
    /*margin-left: -8px;*/
    /*margin-right: -8px;*/
/*}*/
#sc-buy-box {
    position: relative;
}
.a-section {
    margin-bottom: 22px;
}
form {
    margin-bottom: 14px;
}
#sc-buy-box .sc-spinner {
    margin-top: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.a-box-group>.a-box.a-onlychild, .a-box-group>.a-box:only-child {
    border-radius: 4px;
}
.a-box-group>.a-box.a-last, .a-box-group>.a-box:last-child {
    border-radius: 0 0 4px 4px;
}
.a-box-group>.a-box.a-first, .a-box-group>.a-box:first-child {
    border-radius: 4px 4px 0 0;
    margin-top: 0;
}
.a-box-group>.a-box {
    margin-top: -1px;
    border-radius: 0;
}
.a-color-alternate-background {
    background-color: #f3f3f3!important;
}
.a-box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}
.a-box-group>.a-box.a-onlychild>.a-box-inner, .a-box-group>.a-box:only-child>.a-box-inner {
    border-radius: 4px;
}
.a-box-group>.a-box.a-last>.a-box-inner, .a-box-group>.a-box:last-child>.a-box-inner {
    border-radius: 0 0 4px 4px;
}

.a-box-group>.a-box.a-first>.a-box-inner, .a-box-group>.a-box:first-child>.a-box-inner {
    border-radius: 4px 4px 0 0;
}
.a-box .a-box-inner {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}
.a-spacing-mini, .a-ws .a-ws-spacing-mini {
    margin-bottom: 6px!important;
}
.a-spacing-base, .a-ws .a-ws-spacing-base {
    margin-bottom: 14px!important;
}
.a-button-span12 {
    width: 48%!important;
}
.a-button-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.a-button {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    float: right;
    margin-left: 5px;
}
.a-button-primary .a-button-inner {
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}
.a-button-primary .a-button-inner {
    background: #f4d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}
.a-button .a-button-inner {
    background: #eff1f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}
.a-button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
}
.a-button-input {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .01;
    outline: 0;
    overflow: visible;
    z-index: 20;
}
input, select, textarea {
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    line-height: 19px;
    color: #111;
}
.a-button-primary .a-button-text {
    color: #111;
}
.a-button-text {
    background-color: transparent;
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}
.a-text-center {
    text-align: center!important;
}
.a-spacing-top-base {
    margin-top: 14px!important;
}
.a-row {
    width: 100%;
}
.a-box .a-divider.a-divider-break, .a-color-base-background .a-divider.a-divider-break, .a-divider.a-divider-break {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
}
.a-fixed-right-flipped-grid .a-col-left {
    overflow: hidden;
    zoom: 1;
    width: auto;
}
.a-row:after, .a-row:before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}
.a-fixed-left-grid .a-fixed-left-grid-inner:after, .a-fixed-left-grid .a-fixed-left-grid-inner:before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}

.a-section {
    margin-bottom: 22px;
}
.a-spacing-top-base {
    margin-top: 14px!important;
}
#sc-active-cart .sc-cart-header.sc-compact-bottom {
    margin-bottom: -10px;
}
.a-row {
    width: 100%;
}
.sc-list h2 {
    padding-bottom: 0;
}
h2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.3;
}
input, select, textarea {
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    line-height: 19px;
    color: #111;
}
.sc-list .sc-list-head {
    border-bottom: 1px solid #DDD;
}
.a-row .a-span8, .a-ws .a-row .a-ws-span8 {
    width: 65.948%;
}
.a-ws div.a-column, div.a-column {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}
.a-row .a-span2, .a-ws .a-row .a-ws-span2 {
    width: 14.948%;
}
.a-ws div.a-column, div.a-column {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}
.a-text-left {
    text-align: left!important;
}
.a-spacing-top-micro {
    margin-top: 4px!important;
}
.a-color-secondary {
    color: #555!important;
}
.a-ws .a-ws-span12, div.a-column.a-span-last {
    margin-right: 0;
    float: right;
}
.a-row .a-span2, .a-ws .a-row .a-ws-span2 {
    width: 14.948%;
}
div.a-column {
    margin-right: 2%;
    float: left;
    min-height: 1px;
    overflow: visible;
}
.a-text-right {
    text-align: right!important;
}
.a-spacing-top-micro {
    margin-top: 4px!important;
}
.sc-list .sc-list-item-border {
    border-bottom: 1px solid #DDD;
}
.sc-list .sc-list-item-spinner {
    position: absolute;
    z-index: 1000;
}
img {
    vertical-align: top;
}
img {
    max-width: 100%;
    border: 0;
}
.a-spacing-top-base {
    margin-top: 14px!important;
}
.a-spacing-base, .a-ws .a-ws-spacing-base {
    margin-bottom: 14px!important;
}
.a-row .a-span8, .a-ws .a-row .a-ws-span8 {
    width: 65.948%;
}
.a-fixed-left-grid {
    position: relative;
}
.a-fixed-left-grid .a-fixed-left-grid-inner {
    position: relative;
    padding: 0;
}
.a-fixed-right-flipped-grid .a-col-left {
    overflow: hidden;
    zoom: 1;
    width: auto;
}
.a-fixed-left-grid .a-fixed-left-grid-col {
    position: relative;
    overflow: visible;
    zoom: 1;
    min-height: 1px;
}
.a-float-left, .aok-float-left {
    float: left!important;
}
.a-fixed-left-grid .a-col-right {
    width: 100%;
    padding-left: 3.5%;
}
.a-fixed-left-grid .a-fixed-left-grid-col {
    position: relative;
    overflow: visible;
    zoom: 1;
    min-height: 1px;
}
.a-ordered-list.a-nostyle, .a-unordered-list.a-nostyle, ol.a-nostyle, ul.a-nostyle {
    margin-left: 0;
    color: #111;
}
.a-ordered-list, .a-unordered-list, ol, ul {
    padding: 0;
}
.a-unordered-list, ul {
    margin: 0 0 18px 18px;
    color: #949494;
}
.a-spacing-mini, .a-ws .a-ws-spacing-mini {
    margin-bottom: 6px!important;
}
.a-ordered-list.a-nostyle li, .a-unordered-list.a-nostyle li, ol.a-nostyle li, ul.a-nostyle li {
    list-style: none;
}
.a-ordered-list li, .a-unordered-list li, ol li, ul li {
    word-wrap: break-word;
    margin: 0;
}
.a-text-bold {
    font-weight: 700!important;
}
.a-size-medium {
    text-rendering: optimizeLegibility;
}
.a-size-medium {
    font-size: 17px!important;
    line-height: 1.255!important;
}
.a-size-base {
    font-size: 13px!important;
    line-height: 19px!important;
}
.a-size-small {
    font-size: 12px!important;
    line-height: 1.5!important;
}
.sc-list .sc-list-item .sc-action-links {
    margin-top: -4px;
    margin-bottom: 3px;
}
#sc-delivery-slot-form input[type=submit], .sc-list .sc-action-links input[type=submit], .sc-list .sc-action-links input[type=button], .sc-update-all-quantity input {
    background: 0 0;
    border: 0;
    color: #0066C0;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    font: inherit;
    line-height: inherit;
    -moz-user-select: text;
}
.sc-list .sc-list-item p {
    margin-bottom: 3px;
}
p:last-child {
    margin-bottom: 0;
}
.a-spacing-small, .a-ws .a-ws-spacing-small {
    margin-bottom: 10px!important;
}
.sc-white-space-nowrap {
    white-space: nowrap;
}
.a-text-bold {
    font-weight: 700!important;
}
.a-size-medium {
    text-rendering: optimizeLegibility;
}
.a-size-medium {
    font-size: 17px!important;
    line-height: 1.255!important;
}
.a-color-price {
    color: #B12704!important;
}
.sc-list .sc-list-item .sc-action-links {
    margin-top: -4px;
    margin-bottom: 3px;
}
.a-ws .a-ws-span12, div.a-column.a-span-last {
    margin-right: 0;
    float: right;
}
.a-column.a-span-last {
    margin-right: 0;
    float: right;
}
.sc-action-quantity-right {
    float: right;
}
.sc-action-quantity {
    max-width: 110px;
}
.a-spacing-base, .a-ws .a-ws-spacing-base {
    margin-bottom: 14px!important;
}
.a-row .a-span8, .a-ws .a-row .a-ws-span8 {
    width: 65.948%;
}
.sc-action-quantity input {
    font-size: 13px;
    line-height: 19px;
}
.a-input-text, input[type=text], input[type=search], input[type=number], input[type=tel], input[type=password], input[type=date], input[type=email] {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
}
.a-input-text, input[type=text], input[type=search], input[type=number], input[type=tel], input[type=password], select.a-select-multiple, textarea {
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    outline: 0;
}
input, select, textarea {
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    line-height: 19px;
    color: #111;
}
.a-spacing-top-small {
    margin-top: 10px!important;
}
.a-button.a-button-small {
    height: 22px;
}
.a-hidden, .aok-hidden {
    display: none!important;
    visibility: hidden!important;
}
.a-button-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.a-button {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}
.a-button.a-button-small .a-button-inner, .a-button.a-button-small.a-button-disabled .a-button-inner, .a-button.a-button-small.a-button-disabled.a-button-focus .a-button-inner, .a-button.a-button-small.a-button-disabled:active .a-button-inner, .a-button.a-button-small.a-button-disabled:focus .a-button-inner, .a-button.a-button-small.a-button-disabled:hover .a-button-inner, .a-button.a-button-small.a-button-focus .a-button-inner, .a-button.a-button-small.a-button-focus:active .a-button-inner, .a-button.a-button-small:active .a-button-inner, .a-button.a-button-small:focus .a-button-inner, .a-button.a-button-small:focus:active .a-button-inner, .a-button.a-button-small:hover .a-button-inner {
    height: 20px!important;
}
.a-button-primary .a-button-inner {
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}
.a-button-primary .a-button-inner {
    background: #f4d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}
.a-button .a-button-inner {
    background: #eff1f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}
.a-button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    border-radius: 2px;
}
.a-button.a-button-small .a-button-text {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px 0 7px;
}
.a-offscreen, .aok-offscreen {
    position: absolute!important;
    left: 0!important;
    bottom: -1px!important;
    z-index: -1!important;
    opacity: 0;
}
.a-float-right, .aok-float-right {
    float: right!important;
}
.a-spacing-top-mini {
    margin-top: 6px!important;
}
.a-spacing-none, .a-ws .a-ws-spacing-none {
    margin-bottom: 0!important;
}
.color-price {
    color: #B12704!important;
}
.sc-white-space-nowrap {
    white-space: nowrap;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sc-hidden {
    display: none;
}
.a-input-text, input[type=text], input[type=search], input[type=number], input[type=tel], input[type=password], input[type=date], input[type=email] {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
}
.sc-action-quantity input {
    font-size: 13px;
    line-height: 19px;
}
.a-js .a-native-dropdown, .a-js .a-native-splitdropdown {
    position: absolute;
    z-index: -1;
    opacity: .01;
    max-width: 100%;
}
.a-button-span8 {
    width: 67%!important;
}
.navbar-default{
    background-color:#B71C1C !important;
    border-color:#B71C1C !important;
}
